body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main{
    margin-top: 120px;
}

#header-index{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-portada{
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
    align-items: center;
    margin-top: -123px;
}

#portada-gif{
    width: 90vw;
    height: auto;
}

.main-imagen{
    width: 90vw;
    height: auto;
    margin-top: -2.5em;
}

.bg-yellow{
    background-color: #ffdb20;
    width: 100%;
    margin-top: -3.2px;
    min-height: 950px;
}

.bg-white{
    background-color: white;
    width: 100%;
    min-height: 100vh;
}

#section-a{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

#section-a-img{
    width: 85em;
    height: 41em;
    object-fit: cover;
}

#section-a-text{
    line-height: 80px;
    font-family: 'High Cruiser';
}

.section-text:hover{
    color: #ffdb20;
    background-color: #272e2c;
    border-radius: 50px;
    padding: 25px;
    transition-duration: 0.4s;
}

.section-text{
    font-size: 17px;
}

#half-coffee{
    max-width: 100%;
    height: 85vh;
    object-fit: cover;
}

#container-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.container-news{
    background-color: white;
    width: 470px;
    display: grid;
    align-content: end;
    padding-inline: 20px;
    padding-top: 20px;
}

.news-img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.news-enlace{
    color: blue;
    text-decoration: underline;
}

#image-container{
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
    align-items: center;
}

#image{
    width: 70%;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}

#button-click{
    background-color: #ffdb20;
    padding: 100px;
    border-radius: 50%;
    margin-left: -10%;
}
#button-click:hover{
    background-color: rgb(245, 127, 48);
    transition-duration: 0.5s;
    color: white;
}

#bold-text{
    font-weight: 500;
    font-size: 30px;
    font-family: 'High Cruiser';
}

h4{
    font-size: medium;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    h1{
        font-size: 16px;
        margin-bottom: -3px;
    }

    .title-container>h3{
        font-size: 10px;
    }

    /*header {
        top: 0;
    }*/

    main{
        margin-top: 270px;
    }    

    #header-index{
        justify-content: none;
    }

    #container-portada{
        padding-top: 20px;
        padding-bottom: 80px;
    }

    #portada-gif{
        width: 100%;
    }

    .title-container{
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

    }

    .title-container>h3{
        width: 60%;
    }

    .bg-yellow, .bg-white{
        height: auto;
    }

    #section-a{
        display: block;
        padding-bottom: 20px;
    }

    #section-a-img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    #section-a-text{
        line-height: normal;
    }

    .section-text{
        font-size: 14px;
    }

    #half-coffee{
        height: 680px;
    }

    #container-info{
        grid-template-columns: none;
        gap: 20px;
        margin: 0 10px 0 10px;
        margin-bottom: 40px;
    }

    .container-news{
        width: 100%;
        padding-inline: 0;
    }

    #image-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #image{
        width: 100%;
        border-radius: 0;
    }

    #button-click{
        padding: 20px;
        margin: 0;
        margin-top: 35px;
        margin-bottom: 40px;
    }

    #bold-text{
        font-size: 13px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    h1{
        font-size: 32px;
        margin-bottom: 0px;
    }

    .title-container>h3{
        font-size: 20px;
    }

    /*header {
        top: 0;
    }*/

    main{
        margin-top: 350px;
    }    

    #header-index{
        justify-content: none;
    }

    #container-portada{
        padding-top: 40px;
        padding-bottom: 130px;
    }

    #portada-gif{
        width: 100%;
    }

    .title-container{
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

    }

    .title-container>h3{
        width: 60%;
    }

    .bg-yellow, .bg-white{
        height: auto;
    }

    #section-a{
        display: block;
        padding-bottom: 5px;
    }

    #section-a-img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    #section-a-text{
        line-height: normal;
        margin: 50px 0 50px 0;
    }

    .section-text{
        font-size: 20px;
    }

    #half-coffee{
        height: 740px;
    }

    #container-info{
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        gap: 10px;
        margin: 0 10px 0 10px;
        margin-bottom: 40px;
    }

    .container-news{
        width: 100%;
        padding-inline: 0;
    }

    #image-container{
        display: flex;
        flex-direction: column;
    }

    #image{
        width: 100%;
        border-radius: 0;
    }

    #button-click{
        padding: 33px;
        margin: 0;
        margin-top: 30px;
    }

    #bold-text{
        font-size: 15px;
    }
}